---
- name: gather package facts
  package_facts:
    manager: auto

- name: gather service facts
  service_facts:

- name: install zabbix-agent package
  package:
    name: zabbix-agent
    state: present

- name: copy zabbix-agent configuration
  template:
    src: zabbix_agent.conf
    dest: /etc/zabbix/zabbix_agentd.conf
  notify: start zabbix agent
